*{
    margin:0;
    box-sizing:border-box;
}

#page-wrapper{
    width:80vw;
    margin:auto;
    background-color:#F5C949;

    font-family: "Inter", Arial, sans-serif;
    font-size: calc(0.9rem + 0.2vw);
    line-height: 1.55;

    display:flex;
    flex-direction:column;
}

header{
    text-align:center;
    background-color:#C97D0A;
    padding:1rem;
}

#nav-wrapper{
    width:100%;
    background-color:#F29307;
}

#nav-wrapper nav ul{
    list-style:none;
    padding:1rem;
    margin:0;

    display:flex;
    flex-wrap:wrap;
    gap:0.75rem;
    justify-content:center;
}

#nav-wrapper nav ul li{
    background-color:#F0B865;
    text-align:center;
    /*width:calc(20px + 20vw)*/
    width:fit-content;
}

#nav-wrapper nav ul li a{
    display:block;
    font-size:80%;
    padding:0.6rem 1rem;
    text-decoration:none;
}


/* --------------------------main part ----------------*/
main{
    min-height:125vh;
    width:100%;
    padding:1.5rem;
}

main ul{
    list-style:square;
}

main ul li{
    margin:25% 10%;
}

main h3{
    padding-top:5vh;
}

main table{
    width: 100%;
    max-width: 80%;
    background-color: orange;
    border-style:solid;
    border-color:black;
    border-width:calc(1px + 0.1rem);


    text-align:center;
}



footer{
    text-align:center;
    background-color:#C97D0A;
    padding:1rem;
}



/* -------------------if width>=750px----------------------------------- */

@media (min-width:750px){

    #page-wrapper{
        display:grid;
        grid-template-columns:30% 1fr;
        grid-template-areas:
            "header header"
            "nav    main"
            "footer footer";
    }

    header{
        grid-area:header;
        text-align:left;
    }

    #nav-wrapper{
        grid-area:nav;
    }

    main{
        grid-area:main;
    }

    footer{
        grid-area:footer;
        text-align:left;
    }

    #nav-wrapper nav ul{
        flex-direction:column;
        align-items:stretch;
        justify-content:flex-start;
    }

    #nav-wrapper nav ul li{
        width:100%;
    }
}

/* if width of window >= 1000px */

@media (min-width:1000px){
    main{
        max-width:70%;
        margin:0 auto;
    }
}

img{
    width:50%;
    display:block;
    margin:auto;
}
